.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-main {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.textfield {
  display: flex;
  align-items: center;
  
}

.duplicated {
  color: red;
}

.result {
  display: inline-block;
}